extends ../base

block content
    form(method="post")
        if errorMessage
            span=errorMessage
        input(name="oldPW" type="password" placeholder="Old Password")
        input(name="newPW" type="password" placeholder="New Password")
        input(name="newPWConfirm" type="password" placeholder="New Password Confirmation")
        input(value="Change Password", type="submit")